extends ../layout

block content
    input#id(type="text" placeholder="id")
    input#pw(type="password" placeholder="pw")
    input#name(type="text" placeholder="name")
    input#tel(type="text" placeholder="tel")
    button#send 보내기
            script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="/javascripts/sign/join.js")