extends ../layout

block content
    div 공지사항 작성
    div
        table
            tr
                td 제목
                td
                    input#title(type="text")
            tr
                td(colspan='2')
                    textarea
            tr 
                td(colspan='2')
                    button 작성완료
