extends ../layout

block content
    div 이벤트 사용내역 및 적립내역
    div 
        p #{user.name}님의 포인트
        p #{user.point}
    div 
        table 
            tr 
                th 날짜
                th 내용
                th 적립+/사용-

